.vs/
packages/
bin/
obj/
.fake/
FAKE/
Intermediate/
AppPackages/
BundleArtifacts/
WaveEngine.WindowsTools/
WaveEngine.MacTools/


/output/
/outputilc/
/artifacts/


*.user
*.userprefs
*.lock.json
*.nuget.props
*.nuget.targets
*.orig
*.orig.winfo

cookie_jar
TestResult.xml
WaveContent.cs
generate.info
UpgradeLog.htm


src/Launchers/*/output/
src/Launchers/*/outputilc/
src/Libs/Sources/Amqp/output/
